Flask==1.0.2
PyMySQL==0.9.3
Flask-Session==0.3
Flask-Login==0.4.1
requests==2.22.0
Flask-RESTful==0.3.8
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.6.4
tensorflow-estimator==2.2.0
markovify==0.8.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
pronouncing==0.2.0
tqdm==4.46.0
cmudict==0.4.4
